body{
	background-color: lightgrey;
}
h1 {
    text-align: center;
    color: red;
	font-size: 40px;
	font-family: "Times New Roman", Times, serif;
}

h2.one {
    text-align: left;
    color: red;
	font-style: italic;
	font-family: "Courier", Courier, monospace;
	background-color:white;
}

h2.two {
    text-align: left;
    color: white;
	font-style: italic;
	font-family: "Courier", Courier, monospace;
	background-color: red;
}
p.one {
    border-style: dotted;
    border-width: 5px;
	color: black;
}

p.two {
    border-style: outset;
    border-width: medium;
	color: green;
}

p.three {
    border-style: double;
    border-width: 2px 10px 4px;
	color: purple;
} 

p.four {
    border-style: groove;
    border-width: 2px 10px 4px 20px;
} 

p.oneText {
	
}


a.oneLink:link, a.oneLink:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.oneLink:hover, a.oneLink:active {
    background-color: red;
}

a.secondLink:link, a.secondLink:visited {
    background-color: #f09980;
    color: black;
    padding: 14px 25px;
	border-style: dotted;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.secondLink:hover, a.secondLink:active {
    background-color: orange;
}

a.thirdLink:link, a.thirdLink:visited {
    color: green;
}

a.thirdLink:hover, a.thirdLink:active {
    background-color: yellow;
}

a.fourthLink:link, a.fourthLink:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
	border-style: groove;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.fourthLink:hover, a.fourthLink:active {
    background-color: black;
}

ol.numeric{
	color:red;
}

ul.dotted{
	list-style-type:square;
	border-style: dotted;
	background-color:white;
}

img.imgGIT{
	width:304px;
    background-color: #ffffff;
    border: 8px dotted black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

img.imgGIT:hover {
   	border: 8px dotted black;
    opacity: 1;
}

img.imgNET{
	height:185px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px dotted black;
}

td.Firm{
	background-color:green;
	color:cyan;
}

td.Products{
	background-color:yellow;
	color:red;
}

td.Notif{
	background-color:black;
	color:yellow;
}

td.Start{
	background-color:red;
	color:white;
}

td.End{
	background-color:green;
	color:red;
}
